.search {
    background: $bg-color-1;
    .form-label {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .search__box {
        padding: 40px 0;

        input {
            width: 400px;
            height: 45px;
            padding-left: 15px;
            border: none;
            background: $color-input-1;
            margin-right: 25px;
        }

        button {
            @include styleButton ($bg-button-4, $color-white-1, 10px 25px, none, 50px)
        }
    }

    .search__title {
        font-size: 2rem;
        height: 74px;
        width: 100%;
        background: linear-gradient(180deg, #F21299 0%, #1B02B5 100%);
        color: $color-white-1;
        padding: 18px;
    }

    .search__filter {
        select {
            width: 443px;
        }
    }
}